@charset "UTF-8";
:root {
    --bs-blue: #2780ed;
    --bs-indigo: #6237ff;
    --bs-purple: #a71cff;
    --bs-pink: #d42da3;
    --bs-red: #f17228;
    --bs-orange: #f17228;
    --bs-yellow: #ffb30e;
    --bs-green: #79b93c;
    --bs-teal: #53f283;
    --bs-cyan: #24ffea;
    --bs-white: #fffefe;
    --bs-gray: #9e9e9e;
    --bs-gray-dark: #616161;
    --bs-primary: #ffb30e;
    --bs-secondary: #2780ed;
    --bs-success: #79b93c;
    --bs-info: #24ffea;
    --bs-warning: #ffb30e;
    --bs-danger: #f17228;
    --bs-light: #f9fafd;
    --bs-dark: #212121;
    --bs-font-sans-serif: "Source Sans Pro", "Open Sans", -apple-system,
        BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --bs-font-monospace: "SFMono-Regular", Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(
        180deg,
        rgba(255, 254, 254, 0.15),
        rgba(255, 254, 254, 0)
    );
}
